.containerFluid,
.containerXs,
.container {
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  position: relative;

  @include r($xs-breakpoint) {
    padding: 0 20px;
  }
}

.container {
  max-width: 1034px + 80px;
}

.containerXs {
  max-width: 820px + 80px;
}

.iContent {
  max-width: 980px;
}

.hiddenMobile {
  @include r($mob) {
    display: none;
  }
}

.hiddenDesktop {
  @include rmin($mob) {
    display: none;
  }
}

.fullWidth {
  width: 100%;
}

.colorYellow {
  color: #edbc2c;
}

.text--center {
  text-align: center;
}
