@font-face {
  font-family: 'ProximaNova';
  src: url('../../assets/fonts/ProximaNova-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('../../assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('../../assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../../assets/fonts/ProximaNova-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/ProximaNova-Light.woff') format('woff'),
    url('../../assets/fonts/ProximaNova-Light.ttf') format('truetype'),
    url('../../assets/fonts/ProximaNova-Light.svg#ProximaNova-Light')
      format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../../assets/fonts/ProximaNova-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/ProximaNova-Bold.woff') format('woff'),
    url('../../assets/fonts/ProximaNova-Bold.ttf') format('truetype'),
    url('../../assets/fonts/ProximaNova-Bold.svg#ProximaNova-Bold')
      format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../../assets/fonts/ProximaNova-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../../assets/fonts/ProximaNova-Semibold.ttf') format('truetype'),
    url('../../assets/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold')
      format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../../assets/fonts/ProximaNova-Extrabld.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('../../assets/fonts/ProximaNova-Extrabld.ttf') format('truetype'),
    url('../../assets/fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld')
      format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../../assets/fonts/ProximaNova-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/ProximaNova-Black.woff') format('woff'),
    url('../../assets/fonts/ProximaNova-Black.ttf') format('truetype'),
    url('../../assets/fonts/ProximaNova-Black.svg#ProximaNova-Black')
      format('svg');
  font-weight: 900;
  font-style: normal;
}
