@import 'sass/helpers';

.btn--burger {
  position: relative;
  display: inline-block;
  border-radius: 0;
  border: 0;
  transition: 0.3s all;
  background-color: transparent;
  text-align: center;
  padding: 0;
  cursor: pointer;

  padding: rem(15px);
  margin: rem(-15px);

  .bar {
    height: 2px;
    background-color: #fff;
    display: block;
    border-radius: 2px;
    transition: 0.3s all;

    &:not(:first-child) {
      margin-top: 5px;
    }

    &:first-child {
      width: 26px;
    }

    &:nth-child(2) {
      width: 16px;
    }
  }
}
