@import 'sass/helpers';

.header {
  background-color: #19191e;
  padding: rem(25px) 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 55;

  @include r($xs-breakpoint) {
    padding: rem(12px) 0;
  }

  .header__inner {
    display: flex;
    align-items: center;
  }

  .header__left {
    margin-left: rem(-40px);
    padding: 0 rem(30px);
    width: rem(326px);
    display: flex;
    align-items: center;

    @include r($xs-breakpoint) {
      margin-left: 0;
      padding: 0;
      width: 100%;
      justify-content: space-between;
    }

    .header__logo {
      padding-top: rem(2px);
    }

    .header__burger {
      margin-left: auto;
    }
  }

  .header__right {
    margin-left: auto;

    @include r($xs-breakpoint) {
      display: none;
    }
  }
}

.logo {
  display: block;

  svg {
    width: rem(130px);
    height: rem(40px);

    @include r($xs-breakpoint) {
      width: rem(100px);
      height: rem(30px);
    }
  }
}

.header__right--row {
  display: flex;
  align-content: center;
}

.header__right .headerLinks {
  border-right: 1px solid #fff;
  padding-right: 29px;
  min-height: 40px;

  &:not(:last-child) {
    margin-right: 22px;
  }
}
.headerLinks {
  display: flex;
  align-items: center;

  .headerLinks__item {
    margin: 0 10px;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}
