@import 'sass/helpers';

.informationSlider {
  display: none;
  margin-top: rem(26px);

  @include r($xs-breakpoint) {
    display: block;
  }

  .swiper-container {
    @include r($xs-breakpoint) {
      overflow: visible;
      padding-right: rem(10px);
      padding-bottom: rem(22px);
    }
  }

  .swiper-pagination {
    bottom: 0;
  }
}
