@import 'sass/helpers';

.taskSlider {
  position: relative;

  .swiper-controls {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: rem(14px);

    @include r($xs-breakpoint) {
      display: none;
    }
  }

  .swiper-container {
    @include r($xs-breakpoint) {
      overflow: visible;
      padding-right: rem(60px);
    }
  }
}
