@import 'sass/helpers';

.section {
  .sectionHead {
    margin-bottom: rem(20px);
  }
}

.sectionHead {
  display: flex;
  align-items: center;

  @include r($xs-breakpoint) {
    display: block;
  }

  .sectionHead__right {
    margin-left: auto;
  }
}
