@import 'sass/helpers';

.card--task {
  position: relative;
  transition: 0.3s background;
  background-color: #2c2d3b;
  border-radius: 10px;
  padding: rem(20px) rem(30px);

  @include r($xs-breakpoint) {
    padding: rem(18px) rem(20px) rem(16px);
  }

  .card__link {
    @include coverdiv();
    z-index: 10;
  }

  .card__bg {
    @include coverdiv();
    @include cover();
  }

  &:hover {
    background-color: #393a4c;

    .card__arrow {
      opacity: 1;
    }
  }

  .card__category {
    padding-left: rem(2px);
    white-space: nowrap;
  }

  .card__title {
    font-weight: 600;
    font-size: rem(19px);
    line-height: rem(23px);

    @include r($xs-breakpoint) {
      font-size: rem(15px);
      line-height: rem(18px);
    }

    &:not(:first-child) {
      margin-top: rem(17px);

      @include r($xs-breakpoint) {
        margin-top: rem(10px);
      }
    }
  }

  .card__arrow {
    position: absolute;
    top: 50%;
    right: rem(10px);
    transform: translateY(-50%);
    opacity: 0;
    transition: 0.3s all;

    svg {
      width: rem(24px);
      height: rem(24px);
    }
  }

  .categoryTitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: rem(13px);
    line-height: rem(16px);

    @include r($xs-breakpoint) {
      font-size: rem(11px);
      line-height: rem(13px);
    }

    .decor {
      width: rem(4px);
      min-width: rem(4px);
      height: rem(10px);
      position: relative;
      display: block;
      transform: skewX(-20deg);
      margin-right: rem(16px);

      @include r($xs-breakpoint) {
        margin-right: rem(12px);
      }
    }
  }
}

.card--task.card--taskSecondary {
  padding: rem(30px);

  @include r($xs-breakpoint) {
    padding: rem(20px);
  }

  &:hover {
    .card__title {
      transform: translateY(-40px);
    }

    .card__subtitle {
      transform: translateY(-40px);
    }

    .card__bottom {
      opacity: 1;
      visibility: visible;
    }

    .card__category {
      opacity: 0;
    }
  }

  .card__title {
    position: relative;
    transition: 0.3s all;
  }

  .card__title:not(:first-child) {
    margin-top: rem(26px);

    @include r($xs-breakpoint) {
      margin-top: rem(11px);
    }
  }

  .card__subtitle {
    margin-top: rem(4px);
    font-size: rem(13px);
    line-height: rem(16px);
    transition: 0.3s all;
  }

  .card__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 rem(30px) rem(20px);
    opacity: 0;
    visibility: hidden;
    margin: rem(-7px) rem(-12px);
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s all;

    @include r($xs-breakpoint) {
      position: relative;
      opacity: 1;
      visibility: visible;
      padding: 0;
      margin: rem(18px) 0 0;
      justify-content: space-between;
    }

    .btn {
      margin: rem(7px) rem(12px);

      @include r($xs-breakpoint) {
        margin: 0;
        font-size: rem(13px);
        line-height: rem(16px);
      }

      svg {
        @include r($xs-breakpoint) {
          margin-right: rem(14px);
        }
      }

      .icon-file {
        @include r($xs-breakpoint) {
          width: rem(16px);
          height: rem(20px);
        }
      }

      .icon-winner {
        @include r($xs-breakpoint) {
          width: rem(18px);
          height: rem(20px);
        }
      }
    }
  }
}
