@import 'sass/helpers';

.card--competition {
  position: relative;
  transition: 0.3s background;
  padding: rem(36px) rem(34px) rem(45px) rem(53px);
  background-color: #2c2d3b;
  border-radius: 10px;
  overflow: hidden;

  @include r($xs-breakpoint) {
    padding: rem(18px) rem(19px) rem(16px);
  }

  .card__link {
    @include coverdiv();
    z-index: 10;
  }

  &:not(:first-child) {
    margin-top: rem(20px);

    @include r($xs-breakpoint) {
      margin-top: rem(10px);
    }
  }

  &:before {
    position: absolute;
    bottom: rem(26px);
    right: rem(20px);
    background-image: url('../../../assets/icons/arrow_right.svg');
    @include cover();
    width: rem(23px);
    height: rem(10px);

    @include r($xs-breakpoint) {
      content: '';
    }
  }

  .card__bg {
    @include coverdiv();
    @include cover();
    opacity: 0.08;
  }

  .card__inner {
    position: relative;
    display: flex;
    z-index: 5;

    @include r($xs-breakpoint) {
      display: block;
    }
  }

  .card__category {
    margin-bottom: rem(25px);
    padding-left: rem(4px);

    @include r($xs-breakpoint) {
      padding-left: rem(3px);
      margin-bottom: rem(15px);
    }
  }

  .card__title {
    font-weight: 800;
    font-size: rem(46px);
    line-height: rem(56px);
    color: #ffffff;

    @include r($xs-breakpoint) {
      font-size: rem(19px);
      line-height: rem(23px);
    }
  }

  .card__subtitle {
    font-size: rem(15px);
    line-height: rem(21px);
    color: rgba(255, 255, 255, 0.8);
    margin-top: rem(20px);
    max-width: rem(540px);

    @include r($xs-breakpoint) {
      display: none;
    }
  }

  .card__left {
  }

  .card__right {
    margin-left: auto;

    @include r($xs-breakpoint) {
      margin-top: rem(14px);
    }
  }

  .card__button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;

    @include r($xs-breakpoint) {
      display: none;
    }

    .btn {
      height: rem(80px);
      width: rem(250px);
    }
  }

  .categoryTitle {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: rem(13px);
    line-height: rem(16px);

    @include r($xs-breakpoint) {
      font-size: rem(11px);
      line-height: rem(13px);
    }

    .decor {
      width: rem(4px);
      min-width: rem(4px);
      height: rem(10px);
      position: relative;
      display: block;
      transform: skewX(-20deg);
      margin-right: rem(16px);

      @include r($xs-breakpoint) {
        margin-right: rem(12px);
      }
    }
  }

  .timer {
    &__title {
      font-size: rem(13px);
      line-height: rem(16px);
      color: rgba(255, 255, 255, 0.7);

      @include r($xs-breakpoint) {
        font-size: rem(11px);
        line-height: rem(13px);
      }
    }

    &__body {
      font-weight: 600;
      font-size: rem(15px);
      line-height: rem(18px);
      color: #ffffff;

      @include r($xs-breakpoint) {
        font-size: rem(13px);
        line-height: rem(16px);
      }

      &:not(:first-child) {
        margin-top: rem(2px);
      }

      .delimiter {
        display: inline-block;
        margin: 0 rem(4px);
      }
    }
  }
}
