@import 'sass/helpers';

.card--info {
  background: #2c2d3b;
  border-radius: 10px;
  display: flex;
  flex-flow: column;

  .card__body {
    padding: rem(26px) rem(29px) rem(34px);

    @include r($xs-breakpoint) {
      padding: rem(16px) rem(20px);
    }
  }

  .card__title {
    font-weight: 600;
    font-size: rem(19px);
    line-height: rem(23px);
    color: #fff;

    @include r($xs-breakpoint) {
      font-size: rem(17px);
      line-height: rem(21px);
    }
  }

  .card__subtitle {
    font-size: rem(15px);
    line-height: rem(21px);
    color: rgba(255, 255, 255, 0.8);

    @include r($xs-breakpoint) {
      font-size: rem(13px);
      line-height: rem(18px);
    }

    &:not(:first-child) {
      margin-top: rem(14px);

      @include r($xs-breakpoint) {
        margin-top: rem(12px);
      }
    }
  }

  .card__button {
    overflow: hidden;
    margin-top: auto;

    @include r($xs-breakpoint) {
      border-top: 1px solid #393a4c;
      margin-top: rem(3px);
    }

    .btn {
      width: 100%;
      height: rem(80px);

      @include r($xs-breakpoint) {
        height: auto;
        padding: rem(14px) 0;

        &:before {
          content: none;
        }
      }

      span {
        @include r($xs-breakpoint) {
          right: 0;
        }
      }

      svg {
        @include r($xs-breakpoint) {
          opacity: 1;
          margin-left: rem(20px);
        }
      }
    }
  }
}
