@import 'sass/helpers';

.card {
  position: relative;
  transition: 0.3s background;

  .card__link {
    @include coverdiv();
    z-index: 10;
  }

  .card__bg {
    @include coverdiv();
    @include cover();
  }

  .card__inner {
    position: relative;
    z-index: 5;
  }
}

.card--services {
  background: #2c2d3b;
  border-radius: 15px;
  padding: rem(30px) rem(30px) rem(28px);
  overflow: hidden;

  @include r($xs-breakpoint) {
    border-radius: 12px;
    padding: rem(13px) rem(20px);
    background: #393a4d;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: rem(12px);
      transform: translateY(-50%);
      width: rem(24px);
      height: rem(24px);
      background-image: url('../../../assets/icons/chevron_right.svg');
      @include cover();
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: rem(248px);
    left: rem(-35px);
    background: rgba(0, 0, 0, 0.1);
    transform: skewX(-24deg);
    transition: 0.3s all;

    @include r($xs-breakpoint) {
      content: none;
    }
  }

  &:hover {
    background: #393a4d;

    &:before {
      width: rem(274px);
    }

    .icon-vs_decor {
      svg {
        fill: #cf62e6;
      }
    }

    .icon-design_decor {
      svg {
        fill: #df6718;
      }
    }

    .icon-mashin_decor {
      svg {
        fill: #73ca86;
      }
    }

    .icon-ii_decor {
      svg {
        fill: #edbc2c;
      }
    }

    .icon-sport_decor {
      svg {
        fill: #ca3829;
      }
    }
  }

  .card__head {
    display: flex;

    .card__title {
      margin-top: rem(2px);
    }
  }

  .card__title {
    font-weight: 600;
    font-size: rem(19px);
    line-height: rem(20px);
    color: #ffffff;
    margin-left: rem(27px);

    @include r($xs-breakpoint) {
      font-size: rem(15px);
      line-height: rem(17px);
      margin-left: rem(20px);
    }
  }

  .card__body {
    max-width: rem(360px);
    position: relative;
    z-index: 2;

    @include r($xs-breakpoint) {
      display: none;
    }
  }

  .card__text {
    font-size: rem(15px);
    line-height: rem(21px);
    color: rgba(255, 255, 255, 0.8);
    margin-top: rem(15px);
  }

  .card__logo {
    @include r($xs-breakpoint) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      width: rem(37px);
      height: rem(42px);

      @include r($xs-breakpoint) {
        width: rem(24px);
        height: rem(28px);
      }
    }

    img {
      width: rem(37px);
    }
  }

  .card__decor {
    position: absolute;
    bottom: 0;
    right: 0;

    svg {
      fill: #3d3d4d;
      width: 100%;
      height: 100%;
      transition: 0.3s all;
    }

    @include r($xs-breakpoint) {
      display: none;
    }

    &.icon-vs_decor {
      width: rem(164px);
      height: rem(96px);
      right: rem(22px);
    }

    &.icon-design_decor {
      width: rem(154px);
      height: rem(54px);
      bottom: rem(35px);
      right: rem(-36px);
    }

    &.icon-mashin_decor {
      width: rem(125px);
      height: rem(114px);
      bottom: rem(-15px);
      right: rem(36px);
    }

    &.icon-ii_decor {
      width: rem(116px);
      height: rem(116px);
      right: rem(36px);
      bottom: rem(-12px);
    }

    &.icon-sport_decor {
      width: rem(134px);
      height: rem(121px);
      right: rem(24px);
      bottom: rem(-30px);
    }
  }
}

.card--services.card--xs {
  padding: 0;
  background-color: transparent;
  border-radius: 0;

  &:before {
    content: none;
  }

  &:after {
    @include r($xs-breakpoint) {
      content: none;
    }
  }

  .card__head {
    position: relative;
    flex-flow: column;
    padding-left: rem(55px);
    padding-top: 0;
    padding-bottom: 0;

    @include r($xs-breakpoint) {
      padding-left: rem(39px);
    }

    &:before {
      content: none;
    }

    .card__logo {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  .card__logo svg {
    width: rem(36px);
    height: rem(42px);

    @include r($xs-breakpoint) {
      width: rem(24px);
      height: rem(28px);
    }
  }

  .card__title {
    font-weight: 600;
    font-size: rem(17px);
    line-height: rem(20px);
    margin: 0;

    @include r($xs-breakpoint) {
      font-size: rem(15px);
      line-height: rem(17px);
    }
  }

  .card__date {
    font-size: rem(13px);
    line-height: rem(16px);
    color: rgba(255, 255, 255, 0.8);
  }
}

.card--services.card--lg {
  color: #fff;
  padding: rem(58px) rem(34px) rem(35px) rem(55px);
  min-height: 200px;

  @include r($xs-breakpoint) {
    padding: rem(45px) rem(20px) rem(35px);
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    text-align: center;
  }

  &:before {
    content: none;
  }

  &:after {
    @include r($xs-breakpoint) {
      content: none;
    }
  }

  .card__title {
    font-weight: 800;
    font-size: rem(46px);
    line-height: rem(58px);
    margin-left: 0;

    @include r($xs-breakpoint) {
      font-size: rem(25px);
      line-height: rem(25px);
    }
  }

  .card__text {
    font-weight: 600;
    font-size: rem(17px);
    line-height: rem(22px);
    margin-top: rem(3px);

    @include r($xs-breakpoint) {
      font-size: rem(13px);
      line-height: rem(20px);
      max-width: rem(266px);
      margin: rem(10px) auto 0;
    }
  }

  .card__decor {
    top: 50%;
    transform: translateY(-50%);
    fill: #fff;
    right: rem(51px);

    @include r($xs-breakpoint) {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      transform: none;
      display: block;
      margin: 0 auto rem(42px);
    }

    &.icon-mashin_decor {
      width: rem(140px);
      height: rem(130px);

      @include r($xs-breakpoint) {
        width: rem(80px);
        height: rem(74px);
      }
    }
  }
}

.eventsList {
  display: flex;
  flex-flow: wrap;
  margin: rem(-15px);

  .eventsList__item {
    padding: rem(15px);
  }
}
