@import 'sass/helpers';

.socialsList {
  @include r($xs-breakpoint) {
    display: flex;
    flex-flow: wrap;
    margin: rem(-6px);
  }

  .socialsList__item:not(:first-child) {
    margin-top: rem(9px);

    @include r($xs-breakpoint) {
      margin-top: rem(6px);
    }
  }

  .socialsList__item {
    @include r($xs-breakpoint) {
      margin: rem(6px);
    }
  }

  a {
    font-weight: 600;
    font-size: rem(15px);
    line-height: rem(18px);
    color: #7a7a99;

    &:hover {
      color: $primary-color;
    }
  }

  .icon-vk {
    width: rem(30px);
    height: rem(30px);
  }

  .icon-fb {
    width: rem(30px);
    height: rem(30px);
  }

  .icon-inst {
    width: rem(30px);
    height: rem(30px);
  }
}

.socialLink__title--large {
  display: block;
}

.socialLink__title--small {
  display: none;
}
