@import 'sass/helpers';

.section--banner {
  margin: rem(31px) 0 rem(19px);

  @include r($xs-breakpoint) {
    margin: 0;
  }

  .section__inner {
    @include r($xs-breakpoint) {
      padding: 0;
    }
  }
}

.banner {
  box-shadow: 0px 2px 16px rgba(53, 92, 236, 0.24);
  border-radius: 12px;
  padding: rem(23px) rem(29px) rem(5px);
  display: flex;
  position: relative;
  overflow: hidden;

  @include r($xs-breakpoint) {
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: rem(20px) rem(20px) rem(19px);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: rem(-66px);
    height: 100%;
    width: rem(456px);
    background: linear-gradient(
      72.41deg,
      rgba(255, 255, 255, 0.04) 30.19%,
      rgba(239, 239, 241, 0) 70.13%
    );
    transform: skewX(-23deg);
    pointer-events: none;
  }

  .banner__left {
    @include r($xs-breakpoint) {
      position: absolute;
      top: rem(30px);
      left: rem(-20px);
    }

    svg {
      width: rem(317px);
      height: rem(288px);

      @include r($xs-breakpoint) {
        width: rem(177px);
        height: rem(161px);
      }
    }
  }

  .banner__right {
    padding: rem(30px) rem(38px) 0;
    width: calc(100% - 19.8125rem);
    display: flex;
    flex-flow: column;
    position: relative;

    @include r($xs-breakpoint) {
      padding: rem(67px) 0 0;
      width: 100%;
    }
  }

  .banner__title {
    font-weight: 800;
    font-size: rem(46px);
    line-height: rem(56px);
    color: #ffffff;

    @include r($xs-breakpoint) {
      text-align: right;
      font-size: rem(36px);
      line-height: rem(44px);
    }
  }

  .banner__subtitle {
    font-size: rem(15px);
    line-height: rem(21px);
    color: rgba(255, 255, 255, 0.8);
    margin-top: rem(12px);
    max-width: rem(516px);

    @include r($xs-breakpoint) {
      margin-top: rem(75px);
      max-width: 100%;
      font-size: rem(13px);
      line-height: rem(18px);
    }
  }

  .banner__bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    @include r($xs-breakpoint) {
      margin-top: rem(16px);
      display: block;
    }
  }

  .banner__slogan {
    position: relative;
    font-weight: 600;
    font-size: rem(19px);
    line-height: rem(17px);
    padding-bottom: rem(30px);
    padding-top: rem(30px);
    color: #fff;

    @include r($xs-breakpoint) {
      font-size: rem(17px);
      line-height: rem(17px);
      padding-top: rem(18px);
      padding-bottom: rem(28px);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 2px;
      width: rem(60px);
      height: 1px;
      background-color: #fff;

      @include r($xs-breakpoint) {
        width: rem(40px);
      }
    }
  }

  .banner__link {
    position: absolute;
    bottom: rem(-5px);
    right: rem(-29px);

    @include r($xs-breakpoint) {
      position: relative;
      bottom: 0;
      right: 0;
    }

    .btn {
      height: rem(80px);
      width: rem(260px);

      @include r($xs-breakpoint) {
        width: 100%;
        height: rem(50px);
      }
    }
  }
}
