@import 'sass/helpers';

.section--cardsSlider {
  margin: rem(40px) 0;

  @include r($xs-breakpoint) {
    margin: rem(20px) 0;
    border-top: 1px solid #393a4c;
    padding: rem(20px) 0 0;
  }

  .section__inner {
    @include r($xs-breakpoint) {
      padding-bottom: rem(30px);
    }
  }

  .sectionHead {
    .sectionHead__right {
      @include r($xs-breakpoint) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: right;
        padding: 0 rem(20px);
      }
    }
  }
}
