@import 'sass/helpers';

.section--category {
  padding-top: rem(41px);

  @include r($xs-breakpoint) {
    padding-top: 0;
  }

  .section__inner {
    @include r($xs-breakpoint) {
      padding: 0;
    }
  }
}

.card--category-banner {
  position: relative;
  transition: 0.3s background;
  background: #2c2d3b;
  border-radius: 15px;
  overflow: hidden;
  color: #fff;
  padding: rem(58px) rem(34px) rem(35px) rem(55px);
  min-height: 200px;

  @include r($xs-breakpoint) {
    padding: rem(45px) rem(20px) rem(35px);
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    text-align: center;
  }

  .card__title {
    color: #ffffff;
    font-weight: 800;
    font-size: rem(46px);
    line-height: rem(58px);
    margin-left: 0;

    @include r($xs-breakpoint) {
      font-size: rem(25px);
      line-height: rem(25px);
      margin-left: rem(20px);
    }
  }

  .card__text {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    font-size: rem(17px);
    line-height: rem(22px);
    margin-top: rem(3px);

    @include r($xs-breakpoint) {
      font-size: rem(13px);
      line-height: rem(20px);
      max-width: rem(266px);
      margin: rem(10px) auto 0;
    }
  }

  .card__decor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(51px);

    svg {
      fill: #fff;
      width: 100%;
      height: 100%;
      transition: 0.3s all;
    }

    @include r($xs-breakpoint) {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      transform: none;
      display: block;
      margin: 0 auto rem(42px);
    }

    &.icon-mashin_decor {
      width: rem(140px);
      height: rem(130px);
      right: rem(36px);

      @include r($xs-breakpoint) {
        width: rem(80px);
        height: rem(74px);
      }
    }
  }
}
