@import 'sass/helpers';

.section--information {
  @include r($xs-breakpoint) {
    padding-top: rem(24px);
    border-top: 1px solid #393a4c;
  }

  .informationList {
    display: flex;
    flex-wrap: wrap;
    margin: -11px;

    .informationList__item {
      width: 33.33%;
      padding: 11px;

      .card {
        height: 100%;
      }
    }
  }

  .informationList {
    @include r($xs-breakpoint) {
      display: none;
    }
  }
}
