@import 'sass/helpers';

.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: rem(326px);
  padding-top: rem(100px);
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @include r($xs-breakpoint) {
    display: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #2c2d3b;
    z-index: 56;
  }

  &.aside--bg {
    background-color: #282835;
  }

  .aside__inner {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .aside__body {
    padding: rem(5px) rem(30px);

    .servicesList {
      margin: 0 rem(-30px);

      .servicesList__item {
        padding: rem(16px) rem(30px);
      }
    }

    .aside__close {
      padding-top: rem(36px);
    }

    .asideNav {
      margin-top: rem(37px);
    }
  }

  .aside__titlePage {
    font-weight: 800;
    font-size: rem(46px);
    line-height: rem(56px);
    color: #ffffff;
    margin: rem(29px) rem(-3px);
  }

  .aside__footer {
    padding: rem(28px) rem(30px);
    background: #282835;

    .asideLinks {
      margin-bottom: rem(28px);
    }

    .copyright {
      margin-top: rem(37px);
    }
  }
}

.asideLinks {
  a {
    font-weight: 600;
    font-size: rem(17px);
    line-height: rem(21px);
    color: #ffffff;
    text-transform: uppercase;

    &:hover {
      color: $primary-color;
    }
  }
}

.asideNav {
  margin: 0 rem(-30px);

  @include r($xs-breakpoint) {
    margin: 0 rem(-20px);
  }

  &Link {
    display: block;
    padding: rem(25px) rem(30px) rem(22px) rem(75px);
    font-weight: 600;
    font-size: rem(17px);
    line-height: rem(21px);
    position: relative;
    color: #7a7a99;

    @include r($xs-breakpoint) {
      color: #ffffff;
      font-size: rem(15px);
      line-height: rem(18px);
      padding: rem(16px) rem(30px) rem(16px) rem(63px);

      .asideNavLink__icon {
        .icon-key {
          stroke: #f6ee36;
        }

        .icon-award {
          stroke: #f636a9;
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: rem(12px);
      transform: translateY(-50%);
      width: rem(24px);
      height: rem(24px);
      background-image: url('../../../assets/icons/chevron_right.svg');
      @include cover();
    }

    &.is-active,
    &:hover {
      color: #ffffff;
      background: #3b3b4a;

      .asideNavLink__icon {
        .icon-key {
          stroke: #f6ee36;
        }

        .icon-award {
          stroke: #f636a9;
        }
      }

      .asideNavLink__borderRight {
        opacity: 1;
      }
    }

    &.is-active {
      pointer-events: none;
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: rem(30px);
      transform: translateY(-50%);
      margin-top: rem(3px);

      @include r($xs-breakpoint) {
        left: rem(19px);
      }

      svg {
        width: rem(24px);
        height: rem(24px);
        transition: 0.3s all;
      }

      .icon-envelope,
      .icon-mask,
      .icon-padblock {
        fill: #7a7a99;
      }

      .icon-key {
        stroke: #7a7a99;
        fill: none;
        stroke-width: 2px;
      }

      .icon-award {
        stroke: #7a7a99;
        fill: none;
        stroke-width: 2px;
      }
    }

    &__borderRight {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      z-index: 56;
      opacity: 0;
      transition: 0.3s all;
    }
  }
}

.copyright {
  font-weight: 600;
  font-size: rem(13px);
  line-height: rem(16px);
  color: rgba(102, 102, 128, 0.7);
}

.servicesList--xs {
  .accordion.is-active {
    .servicesList__body {
      max-height: 300px;
    }
  }

  .servicesList {
    &__head {
      position: relative;
      padding-left: rem(44px);
      min-height: rem(42px);
      display: flex;
      align-items: center;
    }

    &__title {
      font-weight: 600;
      font-size: rem(17px);
      line-height: rem(21px);
      display: flex;
      align-items: center;
      color: #7a7a99;
      white-space: pre-line;

      @include r($xs-breakpoint) {
        font-size: rem(15px);
        line-height: rem(17px);
        color: #fff;
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      // margin-top: rem(3px);

      svg {
        width: rem(24px);
        height: rem(28px);
      }
      img {
        width: rem(24px);
      }
    }

    &__item {
      position: relative;
      transition: 0.3s all;

      &.is-active,
      &:hover {
        background-color: #3b3b4a;

        .servicesList__borderRight {
          opacity: 1;
        }
      }
    }

    &__body {
      display: block !important;
      max-height: 0;
      overflow: hidden;
      transition: 0.4s max-height;
    }

    &__borderRight {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1px;
      z-index: 11;
      opacity: 0;
      transition: 0.3s all;
    }

    &Links {
      padding: rem(15px) rem(44px) rem(2px);

      a {
        font-weight: 600;
        font-size: rem(15px);
        line-height: rem(30px);
        color: #7a7a99;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}
