@import 'sass/helpers';

.section--services {
  margin: rem(19px) 0;

  @include r($xs-breakpoint) {
    margin: rem(25px) 0;
  }

  .servicesList:not(.servicesList--xs) {
    display: flex;
    flex-flow: wrap;
    margin: rem(-10px) rem(-7px);

    @include r($xs-breakpoint) {
      padding: rem(-5px) rem(-7px);
    }

    .servicesList__item {
      width: 50%;
      padding: rem(10px) rem(7px);

      @include r($xs-breakpoint) {
        width: 100%;
        padding: rem(5px) rem(7px);
      }

      .card {
        @include r($xs-breakpoint) {
          height: rem(66px);
        }
      }
    }
  }
}
