@import 'sass/helpers';

.cardsList--competition {
  .card:not(:first-child) {
    margin-top: 20px;
  }
}

.cardsList--task {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;

  @include r($xs-breakpoint) {
    margin: -5px;
  }

  .card--task {
    width: calc(33.33% - 20px);
    margin: 10px;

    @include r($xs-breakpoint) {
      margin: 5px;
      width: 100%;
    }
  }

  .card--task:not(:first-child) {
    margin-top: 10px;

    @include r($xs-breakpoint) {
      margin-top: 5px;
    }
  }
}
