.accordion {
  &.is-active {
    .accordion__body {
      display: block;
    }

    .servicesList__title {
      color: #fff;
    }

    .accordion__head .accordion__arrow {
      transform: translateY(-50%) rotate(180deg);
      margin-top: -4px;

      svg {
        fill: #fff;
      }
    }
  }

  .accordion__head {
    cursor: pointer;

    .accordion__arrow {
      position: absolute;
      top: 50%;
      right: rem(-10px);
      margin-top: rem(2px);
      transform: translateY(-50%);
    }

    .accordion__arrow .icon-chevron_bottom {
      width: rem(24px);
      height: rem(24px);
    }
  }

  .accordion__body {
    display: none;
  }
}
