.badge {
  background-color: #fff;
  color: #20212b;
  font-weight: 800;
  font-size: rem(14px);

  &[style] {
    color: #fff;
  }

  &.badge--circle {
    border-radius: 100%;
    width: rem(30px);
    height: rem(30px);
    line-height: rem(31px);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }
}
