button,
.btn {
  position: relative;
  display: inline-block;
  border-radius: 0;
  border: 0;
  transition: 0.3s all;
  background-color: transparent;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.btn--primary {
  background: #365ff6;
  border-radius: rem(10px);
  font-weight: bold;
  font-size: rem(11px);
  line-height: rem(13px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.16em;
  color: #ffffff;
  padding: 15px rem(30px);
  box-shadow: 0 2px 16px rgba(54, 95, 246, 0.2);
  text-transform: uppercase;
  min-height: rem(50px);

  &[disabled] {
    background: #7a7a99;
    pointer-events: none;
    color: #3d3d4c;
    box-shadow: none;
  }

  &:hover {
    color: #fff;
    background: linear-gradient(110.57deg, #2451f5 13.96%, #5c36f6 83.57%);

    &:active {
      background: linear-gradient(114.17deg, #7424f5 13.53%, #5c36f6 89.91%);
    }
  }
}

.btn--secondary {
  &:hover {
  }
}

.btn--uppercase {
  text-transform: uppercase;
}

.btn--border {
  border: 1px solid #fff;
  border-radius: rem(10px);
  font-size: rem(10px);
  font-weight: 700;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #fff;
  padding: rem(19px) rem(23px) rem(18px);

  @include r($xs-breakpoint) {
    padding: rem(10px) rem(33px) rem(8px);
  }

  &.btn--lg {
    @include r($xs-breakpoint) {
      height: rem(50px);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: rem(11px);
      line-height: rem(13px);
    }
  }

  &:hover {
    border-color: $primary-color;
    background-color: $primary-color;
    color: #fff;

    &:active {
      border-color: transparent;
      background: linear-gradient(114.17deg, #7424f5 13.53%, #5c36f6 89.91%);
    }
  }
}

.btn--border2 {
  border: 1px solid #393a4c;
  border-radius: 10px;
  font-size: rem(11px);
  font-weight: 700;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #fff;
  padding: rem(13px) rem(27px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: rem(50px);

  @include r($xs-breakpoint) {
    height: rem(30px);
    font-size: rem(10px);
    line-height: rem(12px);
    padding: 0 rem(12px);
  }

  &:hover {
    border-color: $primary-color;
    color: #fff;
  }

  &.btn--xs {
    font-size: rem(10px);
    line-height: rem(12px);
    padding: 0 rem(12px);
    height: rem(30px);
  }

  .icon-chevron_right {
    width: rem(24px);
    height: rem(24px);
    margin-right: rem(-12px);
    vertical-align: middle;
    display: inline-block;
    margin-top: rem(-2px);
    margin-left: rem(5px);

    @include r($xs-breakpoint) {
      margin-right: rem(-5px);
    }
  }
}

.btn--burger {
  padding: rem(15px);
  margin: rem(-15px);

  .bar {
    height: 2px;
    background-color: #fff;
    display: block;
    border-radius: 2px;
    transition: 0.3s all;

    &:not(:first-child) {
      margin-top: 5px;
    }

    &:first-child {
      width: 26px;
    }

    &:nth-child(2) {
      width: 16px;
    }
  }
}

.btn--link {
  font-weight: 600;
  font-size: rem(15px);
  line-height: rem(18px);
  color: #7a7a99;

  @include r($xs-breakpoint) {
    color: $primary-color;
    font-size: rem(13px);
    line-height: rem(16px);
  }

  &:hover {
    color: $primary-color;
  }
}

.btn--move {
  font-weight: bold;
  font-size: rem(10px);
  line-height: rem(20px);
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.btn--white {
    &:before {
      background: rgba(255, 255, 255, 0.3);
    }

    @include r($xs-breakpoint) {
      height: rem(50px);
      background: #7490f9;
      border-radius: 10px;

      &:before {
        content: none;
      }
    }
  }

  &:hover {
    color: #fff;

    &:before {
      width: 120%;
    }

    svg {
      opacity: 1;
    }

    span {
      right: 0;
    }
  }

  &:before {
    content: '';
    height: rem(80px);
    width: rem(20px);
    background-color: $primary-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewX(-22deg);
    transition: 0.3s all;
  }

  > * {
    position: relative;
  }

  span {
    position: relative;
    right: rem(-27px);
    transition: 0.3s all;
  }

  svg {
    width: rem(23px);
    height: rem(10px);
    margin-left: rem(27px);
    opacity: 0;
    transition: 0.3s all;
  }
}

.btn--withIcon {
  font-weight: 600;
  font-size: rem(15px);
  line-height: rem(18px);
  color: #7a7a99;
  display: inline-flex;
  align-items: center;

  @include r($xs-breakpoint) {
    font-size: rem(13px);
    line-height: 1;
  }

  &.btn--white {
    color: #fff;
  }

  &.icon-file {
    svg {
      width: rem(16px);
      height: rem(20px);
    }
  }

  &.icon-winner {
    svg {
      width: rem(18px);
      height: rem(20px);
    }
  }

  svg {
    fill: #7a7a99;

    &:not(:last-child) {
      margin-right: rem(20px);

      &.icon-download {
        margin-right: rem(12px);
      }
    }

    &.icon-close {
      width: rem(12px);
      height: rem(12px);
    }

    &.icon-download {
      width: rem(12px);
      height: rem(13px);
    }

    &.icon-arrow_left {
      width: rem(23px);
      height: rem(10px);

      @include r($xs-breakpoint) {
        margin-top: rem(-2px);
      }
    }

    &.icon-user {
      margin-right: rem(16px);
      width: rem(24px);
      height: rem(24px);
      fill: none;
    }

    &.icon-star {
      width: rem(24px);
      height: rem(24px);
      fill: none;
    }
  }
}

.btn--socialAuth {
  background-color: #fff;
  width: rem(60px);
  height: rem(60px);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include r($xs-breakpoint) {
    width: rem(54px);
    height: rem(54px);
  }

  svg {
    width: rem(32px);
    height: rem(32px);

    @include r($xs-breakpoint) {
      width: rem(24px);
      height: rem(24px);
    }
  }
}

.btn--linkUnderline {
  font-size: rem(13px);
  line-height: rem(18px);
  text-decoration-line: underline;
  color: #7a7a99;

  &.colorWhite {
    font-weight: 600;
    font-size: rem(15px);
    line-height: rem(18px);
    /* identical to box height, or 120% */
    text-decoration-line: underline;
    color: #ffffff;
  }
}

.textLink {
  font-weight: 600;
  font-size: rem(15px);
  line-height: rem(18px);
  color: #71717b;

  a {
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: $primary-color;
    }
  }
}

.btn--close {
  svg {
    fill: #7a7a99;
  }

  &.btn--white {
    svg {
      fill: #fff;
    }
  }
}
