@import 'sass/helpers';

.swiper-controls {
  .swiper-button {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: none;
    border: 1px solid #393a4c;
    border-radius: 100%;
    width: rem(40px);
    height: rem(40px);
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(:first-child) {
      margin-top: rem(20px);
    }

    svg {
      width: rem(24px);
      height: rem(24px);
    }
  }
}
