@import 'sass/helpers';
@import 'sass/base';
@import 'sass/lib';

// NEED REFACTORING
// move styles to dedicated components
@import 'sass/components/buttons';
@import 'sass/components/accordion';
@import 'sass/components/badge';

html {
  font-family: $font-main;
  -webkit-tap-highlight-color: transparent;
  @include font-smoothing();
  color: $text-color;
  font-size: 16px;
}

.pageWrapper,
html,
body {
  background-color: #20212b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  transition: 0.25s all;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $primary-color;
  }

  &:active {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input:focus {
  outline: none;
}

::selection {
  color: $white;
  background-color: $primary-color;
}

::-moz-selection {
  color: $white;
  background-color: $primary-color;
}

:root {
  --browser-address-bar: 0px;
  --browser-bar: 0px;
}

.out {
  position: relative;
  overflow: hidden;
}

.pageWrapper {
  position: relative;
  margin-left: auto;
  width: percentage(1114/1440);
  padding-top: rem(100px);
  padding-bottom: rem(43px);

  @include r($xs-breakpoint) {
    width: 100%;
    padding-top: rem(60px);
    padding-bottom: rem(17px);
  }
}

.no-scroll {
  overflow: hidden;
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.section__title {
  font-weight: bold;
  font-size: rem(27px);
  line-height: rem(33px);
  color: #ffffff;

  @include r($xs-breakpoint) {
    font-size: rem(19px);
    line-height: rem(19px);
  }

  &.section__title--xs {
    @include r($xs-breakpoint) {
      font-size: rem(15px);
      line-height: rem(17px);
      text-align: left;
    }
  }

  .badge {
    margin-left: rem(10px);
  }
}

.main__title {
  font-weight: 800;
  font-size: rem(46px);
  line-height: rem(56px);
  color: #ffffff;

  @include r($xs-breakpoint) {
    font-size: rem(25px);
    line-height: 1.2;
  }
}

.section--innerSection {
  padding-top: rem(89px);

  @include r($xs-breakpoint) {
    padding-top: 0;
  }

  .main__title {
    margin-bottom: rem(39px);
  }
}

.swiper-pagination {
  .swiper-pagination-bullet {
    width: 3px;
    height: 3px;
    background-color: #fff;
    margin: 0 8.5px !important;
  }
}

// from MainAside
.header__left,
.pageWrapper {
  transition: 0.3s all;
}

.header__logo .words {
  transition: 0.2s all;
}

@include rmin($xs-breakpoint + 1) {
  .aside-is-small {
    .pageWrapper {
      width: percentage(1345/1440);
      padding-right: rem(100px);
    }

    .header {
      .header__left {
        width: rem(181px);
      }

      .btn--burger .bar {
        margin-left: auto;
      }

      .header__logo {
        .logo {
          width: rem(36px);
        }

        svg .words {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .aside {
      width: rem(95px);
      transition: 0.3s all;

      .aside__body {
        //padding: rem(21px) rem(5px);
        padding: rem(5px) 0;
      }

      .servicesList.servicesList--xs {
        //margin: 0 rem(35px);
        margin: 0;
        text-align: center;

        .servicesList__title {
          display: none;
        }
      }

      .aside__footer {
        .copyright {
          opacity: 0;
        }
      }

      .socialLink__title--large {
        display: none;
      }

      .socialLink__title--small {
        display: block;
      }
    }
  }
}
